doctype html
html
  head
    block head
      title="Express Starter App"
      link(rel='stylesheet', href='./stylesheets/reset.css')
      link(rel='stylesheet', href='./stylesheets/signup.css')
      link(rel='stylesheet', href='./stylesheets/navbar.css')
      link(rel='stylesheet', href='/stylesheets/login.css')
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
      <script src="https://kit.fontawesome.com/29959c360c.js" crossorigin="anonymous"></script>
  body
    div(class="navbar-wrapper")
      div(class="navbar-left")
        a(class="navbar-btn fas fa-home" href="/")
        a(class="navbar-btn pipechar") |
        a(class="navbar-btn" href="/lists") Create List
        a(class="navbar-btn pipechar") |
        a(class="navbar-btn" href="/tasks") Create Task
      div(class="navbar-right")
        if locals.authenticated
          p(id="welcome-login-msg") Hello #{locals.user.username}
          form(action="/logout" method="post")
            button(class="navbar-btn" id="logout-btn" type="submit") Logout
        else
          a(class="navbar-btn" href="/signup") Signup
          a(class="navbar-btn pipechar") |
          a(class="navbar-btn" href="/login") Login
          //- a(class="navbar-btn pipechar") |
    block content
