html
  body
    form(method='post' action='/lists')
      label Name
      input(type='text' name='name' required)
      label User
      input(type='number' name='userId' required)
      label Description
      textarea(name='description')
      button(type='submit' class='list-button') Submit
      a(href='/' class='home-button') Cancel