<html lang="en">
  <head>
    <title>Remmember the Eggs!</title>
  </head>
  <body>
    <div class="remark">
    <h1>All Lists !</h1>
    <button type='submit'> Make a new List! </button>
      <p> Get groceries </p>
      <p> Car maintenance  </p>
      <p> Pay Bills </p>
      <p> Run errands </p>
      <p> Picnic supplies </p>
    ul
    each list in lists
      div
        li=list.name
        li=list.desciption
    </div>
  </body>
</html>

