extends layout
append head
  link(rel="stylesheet" href="/stylesheets/list-edit.css")
  <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
  script(src="/javascripts/index.js" type="module" defer)
block content
  form(method='post' action='/lists' class='login-form')
    div(class="login-form-wrapper")
      label(class="signup-label").list-name-header List Name:
      div(class="form-div")
        input(type='text' name='name' required)
      label(class="signup-label").username-header Select User
        input(type="hidden" name="_csrf" value=token)
      div(class="form-div" class="custom-select").option-bar
        select(name='userId' placeholder="User" class='user-select-box' class='option-bar' required)
          each user in users
            option(value=user.id)=user.username
      label(class="signup-label" class='description-header') List Description:
      div(class="form-div")
        textarea(name='description' class='description-input').new-description-box
      button(type='submit' class='list-button' class='accept-btn' class='btn-3') Create  
      a(href='/' class='cancel-btn' ) Cancel
