extends layout

block content
  validationErrors(errors)
    if errors
      div(class='' role='alert')
        p The following error(s) occurred:
        ul
          each error in errors
            li= error
  form(class="task-form" action="/tasks" method="post" autocomplete="off")
    div(class="task-form-wrapper")
        h2(class="task-form-title") Create New Task
        input(type="hidden" name="_csrf" value=csrfToken)
        div(class="task-form-div task-name" id="task-name")
            label(class="task-label" for="name") Task Name
            input(class="task-input task-name-input" type="text" name="name" required)
        div(class="task-form-div"  id="due-time")
            label(class="task-label" for="due") Due Time
            input(class="task-input" type="date", name="due" id="due-time-input")
        div(class="task-form-div"  id="completion-status")
            label(class="task-label" for="completionStatus") Completion Status
            input(class="task-input checkbox" type="checkbox" name="completionStatus" id="completion-status-input")
        div(class="task-form-div" id="task-list")
            label(class="task-label" for="listId") List
            select(class="task-input" name="listId" required id="task-list-select")
                each list in lists
                    option(class="task-input" value=list.id)=list.name
        div(class="task-form-div description")
            label(class="task-label" for="description" id="description-label") Description
            textarea(class="task-textarea" name="description" id="description-input")
        div(class="task-button" id="task-create-btn")
            button(class="create-task-btn" type="submit") Create Task
        a(href='/' class='home-button')
