h1 {
  color: #555555;
}

html {
  background-image: url('https://images.unsplash.com/photo-1536566482680-fca31930a0bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
