@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.option-bar{
  border: 1px solid #ccc;
  width: 200px;
  border-radius: 4px;
  background: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
}
.option-bar select {
  padding: 5px 8px;
  width: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
}

.option-bar select:focus {
  outline: none;
}

.description-box{
  width: normal;
  height: normal;
  border-radius: 4px;
}
.new-description-box{
  width: 300px ;
  height: 150px;
  border-radius: 8px;
}

a:link{
  text-decoration: none;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.cancel-btn{
  border: none;
  background: #333;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  padding: 9px 18px;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  display: inline-block;
  margin-top: 5px;
  transition: color 0.3s, background 0.3s, border 0.3s;
}
.cancel-btn:focus,
.cancel-btn:hover {
  outline: none;
  color: #ffffff;
  background: #d84930;
  border: 1px solid #0e1d26;
}

.delete-button{
  border: none;
  background: #333;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  padding: 9px 18px;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  display: inline-block;
  margin-top: 5px;
  transition: color 0.3s, background 0.3s, border 0.3s;
}
.delete-button:focus,
.delete-button:hover{
  outline: none;
  color: #ffffff;
  background: #d84930;
  border: 1px solid #0e1d26;
}

.accept-btn {
  border: none;
  background: #333;
  color: #ffffff;
  font-weight: normal;
  padding: 12px 20px;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  display: inline-block;
  margin-top: 5px;
  transition: color 0.3s, background 0.3s, border 0.3s;
}


.accept-btn:focus,
.accept-btn:hover {
  outline: none;
  color: #ffffff;
  background: #40e66a;
  border: 1px solid #0e1d26;
}

.home-btn {
  border: none;
  background: #333;
  color: #ffffff;
  font-weight: normal;
  padding: 10px 20px;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  display: inline-block;
  margin-top: 5px;
  transition: color 0.3s, background 0.3s, border 0.3s;
}


.home-btn:focus,
.home-btn:hover {
  outline: none;
  color: #2686d4;
  background: #e0e6e1;
  border: 1px solid #0e1d26;
}
.custom-select sources {
    /* align-items: flex-start; */
    padding: 5px 5px;
    width: 250px;
    height: 100px;
    border-radius: 8px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0);
    margin-bottom: 10px;
  }

  @keyframes gradient {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }

.list-name-header{
  font-weight: bold;
  font-size: 20px;
}
.username-header{
  font-weight: bold;
  font-size: 20px;

}
.description-header{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.old-description{
  font-weight: 80px;
  font-size: 20px;
  text-align: center;
}

  