.navbar-wrapper {
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
}

.navbar-left,
.navbar-right {
  display: inline-block;
  width: 250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-left {
  margin-left: 15px;
}

.navbar-right {
  margin-right: 15px;
}

#logout-btn {
  background: none;
  color: white;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-weight: 500;
}

.navbar-btn {
  color: white;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
}

.pipechar {
  pointer-events: none;
}
